@use '../../style/vars' as *;

.days{
    margin-top: 50px;
    color: var(#{--text-color-default});
    padding-bottom: 100px;
}

.btn, .list{
    background-color: var(#{--component-background-default});
    box-shadow: var(#{--shadow-color-default});
}

.buttons{
    padding-bottom: 10px;

    .btn{
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 15px;
        color: inherit;
    }

    .btn_active{
        background-color: $main;
    }
}

.list{
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.day{
    background-color: var(#{--cart-background-default});
    width: 170px;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;

    &_name{
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 7px;
    }

    &_data{
        color: $secondary4;
        font-size: 14px;
        padding-bottom: 15px;
    }

    &_degree{
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 15px;
        padding-top: 13px;
    }

    &_description{
        font-size: 13px;
        color: $secondary4;
        text-transform: capitalize;
    }
}


.day_img{
    width: 44px;
    height: 44px;
    margin-top: 5px;
}