@use 'vars' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: var(#{--body-background-default});
    color: var(#{--text-color-default});
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.container{
    max-width: 1216px;
    padding: 0 8px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-size: 16px;
}

.today-info{
    display: flex;
    align-items: stretch;
    gap: 50px;
}

.weatherIcon{
    width: 100%;
    height: 100%;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    font-size: 45px;
    color: #3296ff;
    font-weight: 700;
    img{
        width: 80px;
        height: 80px;
    }
}